@mixin link-color($color, $hover-color: $color) {
    color: $color;
    &:link {
        color: $color;
    }
    &:visited {
        color: $color;
    }
    &:hover {
        color: $hover-color;
    }
    &:active {
        color: $color;
    }
}

@mixin placehodlerColor($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }

    &:-moz-placeholder {
        color: $color;
    }

    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin transited() {
    transition: all 200ms linear;
}